.footer {
    background: $gradient-base-bottom;

    a,
    span {
        font-size: 0.7rem;
        color: $sub-link-color;
        margin: 0 1rem;
    }

    a {
        text-decoration: none;

        &:hover,
        &:focus,
        &:active {
            color: $base-color;
            text-decoration: underline;
        }

        img {
            margin-right: 10px;
            max-height: 40px;
        }
    }

    &__top {
        padding: 3rem 0 1.5rem;
        text-align: center;
        position: relative;

        &:after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            height: 2px;
            background: gray;
            opacity: 0.2;
        }
    }

    &__bottom {
        padding: 2rem 0 1.5rem;
        text-align: center;
    }
}

@media (max-width: $breakpoint-mobile) {
    .footer {
        a,
        span {
            display: block;
            padding: 0.125rem;
            font-size: 0.9rem;
        }

        span {
            margin-top: 1.5rem;
        }

        &__top {
            padding: 2rem 0 1.5rem;

            .btn__link {
                display: block;
                font-size: 0.7rem;
                margin: 10px 0;

                &:last-child {
                    margin: 20px 0 10px;
                }
            }
        }

        &__bottom {
            .btn__link {
                font-size: 0.7rem;
                margin: 0 10px;
                display: inline-block;

                img {
                    display: inline-block;
                    margin: 0;
                }
            }
        }
    }
}
