// Breakpoints

$breakpoint-mobile: 767px;
$breakpoint-mobile-large: 991px;
$breakpoint-tablet: 1024px;
$breakpoint-desktop: 1199px;

$unit-font-size-h1:         38px !default;
$unit-font-size-h2:         28px !default;
$unit-font-size-h3:         18px !default;
$unit-font-size-h4:         18px !default;
$unit-font-size-h5:         18px !default;
$unit-font-size-h6:         18px !default;

// Custom font-size

$unit-font-size-lg:         22px !default;
$unit-font-size-md:         20px !default;
$unit-font-size-sm:         16px !default;
$unit-font-size-xs:         12px !default;