$white: #fff;
$black: #000;

// ASR colors
$base-color: #2a292e;
$primary-color: #ffbd00;
$primary-color-light: #fffaea;
$secondary-color: #8de6ee;

// Standard colors
$text-color: $base-color;
$background-color: #F6F6F6;
$success-color: #28ad45;
$danger-color: #fa6b7b;

// Specific colors
$sub-link-color: #abaaa7;

// Greyscale
$grey-base: #e9e9ea;
$grey-light: #f6f6f7;
$grey-dark: #959497;
