<div class="header">
  <a href="#default" class="logo">Openxcell</a>
  <div class="header-right">
    <a class="nav-link" [ngClass]="{'active': _globalHelper.selectRoute$.value === redirectTo.AddProperty}" href="javascript:;" (click)="displayModule(redirectTo.AddProperty)">Add Property</a>
    <a class="nav-link" [ngClass]="{'active': _globalHelper.selectRoute$.value === redirectTo.ViewProperty}" href="javascript:;" (click)="displayModule(redirectTo.ViewProperty)">View Property</a>
  </div>
</div>